/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font per tutto il body */
body{
    font-family: 'Circular Std', sans-serif;
    color: white;
}

/* Reset utilizzato con float, per evitare il collasso dei blocchi */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl-left{float: left;}
.fl-right{float: right;}

.d-none{display: none;}

/* ? Regole FLEX */
.d-flex{display: flex;}
.al-center{align-items: center;}

a{
    text-decoration: none;
}

a, h2{
    color: white;
}

h2 {
	font-size: 1.2rem;
}

.btn-large {
	font-size: 0.8rem;
	padding: .7rem 2.2rem;
	border: 1px solid white;
	border-radius: 45px;
}

/* Custom hr da utilizzare dove necessario */
.custom-hr{
    width: 100%;
    border-bottom: 1px solid #a3a3a3;
    margin: .3rem 0 .7rem;
}

.call-to-action,
footer section#player{
    /* height: 10vh; */
    height: 100px;
}

.call-to-action{
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, .3);
}

main{
    /* height: 90vh; */
    height: calc(100vh - 100px);
}

main,
main a{
    color: #a3a3a3;
}

main section#main-left {
    width: 290px;
	background-color: #000000;
    flex-direction: column;
	justify-content: space-between;
} 

main section#main-right{
    width: calc(100% - 290px);
    background-color: #141922;
    overflow-y: auto;
}

main section#main-left,
main section#main-right{
    height: 100%;
}

nav#main-nav,
.user-profile{
    flex-direction: column;
}

nav#main-nav{
    height: calc(100% - 85px);
}

section#main-left>.user-profile {
    height: 85px;
	background-color: #000000;
}

nav#main-nav .nav-logo{
    height: 100px;
    padding: 1.5rem;
}

main nav#main-nav li {
	list-style-type: none;
    margin: 1rem 0;
    padding: 0 1.5rem;
}

main nav#main-nav li .icon-nav{
    width: 35px;
}

/* Il primo figlio delle due liste avrà un margin-top minore */
main nav#main-nav li:first-child {
    margin: .3rem 0 1rem;
}

main nav#main-nav li:hover,
main nav#main-nav li:active{
    border-left: 3px solid #b1ff2f;
}

#main-nav .nav-nenu,
#main-nav .nav-playlists{
    margin-top: 2rem;
}

main nav#main-nav li i{
    font-size: 1.5rem;
}

.nav-playlists .title-list{
    padding: 0 1.5rem;
}

.title-list i{
    font-size: 2.5rem;
}

.icon-nav,
.title-list i{
	margin-right: .6rem;
}

section#main-left .user-profile {
	padding: .5rem 1.5rem;
}

section#main-left .user-profile .img-profile{
    width: 30px;
    height: 30px;
    background-color: #808080;
    border-radius: 50%;
    text-align: center;
    margin-right: .6rem;
}

.img-profile>img{
    width: 80%;
    height: 80%;
}

.content-main{
    padding: 1.5rem;
}

main section#main-right nav{
    justify-content: center;
    text-align: center;
}

main section#main-right ul {
	margin: 1rem 1rem 2rem;
}

main section#main-right li{
    display: inline;
	padding: 0 .5rem;
    text-transform: uppercase;
}

section#main-right .songs-recently{
	flex-wrap: wrap;
}

section#main-right .card-item{
    width: 200px; 
    height: 200px;
    margin: 2rem .8rem 2rem 0;
    background-color: bisque;
}

.popular-artists .card-item{
    border-radius: 50%;
}

footer{
    background-color: #282828;
}

/* ? FOOTER */
footer section#player{
    justify-content: space-between;
    align-items: center;
}

footer section#player .player-left,
footer section#player .player-right{
    width: 20%;
    height: 100%;
}

footer section#player .player-center{
    width: 40%;
    height: 100%;
}

footer section#player .player-left,
footer section#player .player-right,
footer section#player .player-center{
    background-color: tomato;
}

@media screen and (max-width: 576px) {
    /* ! INIZIO Regole per renponsive main-nav su mobile */
    main section#main-left {
        width: 55px;
    }

    main section#main-right {
        width: calc(100% - 55px);
    }

    /* In questa condizione gli elementi con questa classe non saranno visualizzati */
    .xs-none{
        display: none;
    } 
    
    nav#main-nav .nav-logo {
        margin-top: .7rem;
        height: auto;
        padding: 0;
    }

    nav#main-nav .main-logo-small{
        display: block;
        width: 40px;
    }

    nav#main-nav,
    .user-profile{
        align-items: center;
    }

    main nav#main-nav li {
        padding: 0;
    }

    nav#main-nav li .icon-nav{
        margin-right: 0;
    }

    section#main-left .user-profile {
        padding: .5rem 0;
    } 

    section#main-left .user-profile .img-profile {
        margin: 1rem 0 0;
    }
    /* ! FINE Regole per renponsive main-nav su mobile */
}

@media screen and (max-height: 800px) {
    nav#main-nav .nav-playlists .playlists-name {
        height: 150px;
        overflow: auto;
    }
}